$media-queries: (
    tablet: (
        breakpoint: '(min-width: 480px) and (max-width: 768px)',
    ),
    mobile: (
        breakpoint: '(max-width: 480px)'
    )
);

@mixin media-query ($size) {
    @each $item, $value in $media-queries {
        @if $item == $size {
            @if map-get($value, breakpoint) != null {
                @media only screen and #{map-get($value, breakpoint)} {
                    @content;
                }
            }
        }
    }
}