@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // scroll-padding-top: 10vh;
    transition: all 1s ease-in-out;
}

html {
  scroll-behavior: smooth;
}