@use "@/assets/style/_colors.scss" as *;
@use 'tailwindcss/base';
@use 'tailwindcss/utilities';

:root {
  --color-primary: #{$primary};
  --color-secondary: #{$secondary};
  --color-accent: #{$accent};
  --color-black: #{$Black};
  --color-black-75: #{$black-75};
  --color-black-50: #{$black-50};
  --color-black-25: #{$black-25};
  --color-black-10: #{$black-10};
  --color-black-5: #{$black-5};
  
  --font-poppins: 'Poppins';
  --font-lexend: 'Lexend';
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-poppins, Poppins), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-black);
  }
}

@layer utilities {
  .transition-default {
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}